section {
  .card-area {
    @include flex_center_between;
    @include size(58.75rem, auto);

    .card {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        margin-right: 1.25rem;
      }

      .card-img-1,
      .card-img-2,
      .card-img-3,
      .card-img-4 {
        @include size(18.75rem, 19.75rem);
        @include image_center;
        @include flex_between;
      }

      .card-img-1 {
        background-image: url(../../img/sweet-7.jpg);
      }

      .card-img-2 {
        background-image: url(../../img/sweet-8.jpg);
      }

      .card-img-3 {
        background-image: url(../../img/sweet-9.jpg);
      }

      .card-img-4 {
        background-image: url(../../img/sweet-10.jpg);
      }

      &:last-of-type {
        display: none;
      }

      .tooltip {
        @include flex_center_center;
        @include size(2.25rem, 6.75rem);
        color: $white;
        margin-left: 1.25rem;
        letter-spacing: 0.25rem;
        writing-mode: vertical-rl;
        background-color: $dark_green;
      }

      .heart {
        color: $dark_green;
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-right: 1.25rem;
      }

      .detail {
        display: flex;
        color: $dark_green;
        font-size: 1.25rem;

        .product {
          width: 10rem;
          text-align: center;
          line-height: 3.5rem;
          border-left: 1px solid $light_green;
          border-right: 1px solid $light_green;
        }

        .price {
          width: 8.75rem;
          text-align: center;
          line-height: 3.5rem;
          border-right: 1px solid $light_green;
        }
      }

      .btn-cart {
        @include flex_center_center;
        height: 4rem;
        color: $dark_green;
        font-size: 1.5rem;
        background-color: $light_green;
      }
    }
  }
}

@media (max-width: 1023px) {
  section {
    .card-area {
      @include flex_center_around;
      flex-wrap: wrap;

      .card {
        margin-left: 1.25rem;

        &:nth-of-type(3) {
          margin-right: 1.25rem;
          margin-top: 2.5rem;
        }

        &:last-of-type {
          margin-right: 1.25rem;
          margin-top: 2.5rem;
          display: unset;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  section > .card-area > .card {
    &:nth-of-type(2) {
      margin-top: 2.5rem;
    }
  }
}
