main {
  margin-top: 5rem;

  .main-area {
    @include flex_center_center;
    padding-left: 2.625rem;
    padding-right: 2.625rem;
    background-color: $light_green;

    &:nth-of-type(2) {
      margin-bottom: 6.5625rem;
    }

    .main-content {
      @include flex_center_between;
      @include size(58.75rem, 26.25rem);

      .main-img {
        @include image_center;
        @include size(28.75rem, 28.75rem);
        background-image: url(../../img/sweet-5.jpg);

        &:last-of-type {
          background-image: url(../../img/sweet-6.jpg);
        }
      }

      .main-text > p {
        @include size(15.625rem, 18.75rem);
        color: $text_green;
        line-height: 2.25rem;
        writing-mode: vertical-lr;
      }

      .main-mix {
        @include image_center;
        @include size(5.625rem, 19.25rem);
        margin-top: -1.25rem;
        align-self: flex-start;
        background-image: url(../../img/直式-為什麼一定要吃甜點.png);

        &:last-of-type {
          background-image: url(../../img/直式-為什麼選擇了做甜點.png);
        }
      }
    }
  }
}

.main-bottom-area {
  @include flex_center_center;
  @include size(100%, auto);
  margin-top: 5.9375rem;
  margin-bottom: 5rem;

  .main-bottom {
    @include image_center;
    @include size(5.625rem, 20.625rem);
    background-image: url(../../img/直式-想吃甜點是不需要理由的.png);
  }
}

@media (max-width: 1023px) {
  main {
    .main-sm-img {
      @include image_center;
      @include size(19.25rem, 6rem);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5rem;
      background-image: url(../../img/橫式-為什麼一定要吃甜點.png);

      &:nth-of-type(1) {
        background-image: url(../../img/橫式-為什麼選擇了做甜點.png);
      }
    }

    .main-area {
      &:nth-of-type(2) {
        margin-bottom: 5rem;
      }

      .main-content {
        @include flex_center_around;

        .main-img {
          @include size(27.5rem, 20rem);
        }

        .main-mix {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  main > .main-area {
    .main-content {
      flex-direction: column;

      .main-img {
        margin-top: -1.25rem;
        @include size(80%, 20rem);
      }

      .main-text {
        p {
          @include size(80%, auto);
          writing-mode: unset;
          margin-top: 1rem;
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;

          br {
            display: none;
          }
        }
      }
    }

    .reverse {
      flex-direction: column-reverse;
    }
  }

  .main-bottom-area {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .main-bottom {
      @include image_center;
      @include size(20.625rem, 5.75rem);
      background-image: url(../../img/橫式-想吃甜點是不需要理由的.png);
    }
  }
}

@media (max-width: 568px) {
  main > .main-area > .main-content {
    .main-img {
      @include size(100%, 20rem);
    }

    .main-text {
      p {
        @include size(100%, auto);
      }
    }
  }
}
